.form-control {
	margin-bottom: 0.75rem;
	padding-bottom: 1rem;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.form-control input, select {
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	display: block;
	font-family: inherit;
	font-size: 0.85rem;
    margin-bottom: 0.15rem;
	padding: 10px;
	width: 100%;
}

input[type=radio] {
    width: 16px;
    height: 16px;
}

.form-control input:focus, select:focus {
    outline: none;
    box-shadow: 1.4px 0 var(--primaryColor);
}

.form-control.success input, .form-control.success select {
	border-color: #2ecc71;
}

.form-control.success input:focus, .form-control.success select:focus {
	box-shadow: 1.4px 0 #2ecc71;
}

.form-control.error input, .form-control.error select {
	border-color: #e74c3c;
}

.form-control.error input:focus, .form-control.error select:focus {
	box-shadow: 1.4px 0 #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 42px;
	right: 10px;
}

.form-control.success i.fa-circle-check {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-circle-xmark {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.checkout-subtitle {
    color: var(--primaryColor);
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
}

.flex {
    display: flex;
    align-items: center;
}

.form-layout {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
}

.cart-summary {
    width: 90vw;
    margin: 1.5rem auto;
}

@media screen and (min-width: 768px) {
    .form-layout {
        margin: 0 5vw;
        width: calc(100vw - 395px);
    }
    
    .cart-summary {
        width: auto;
        position: absolute;
        top: 117px;
        right: 5vw;
        max-width: 330px;
    }
}